html, body{
    height: 100%;
}
body{
    margin:0;
    font-family: sans-serif;
}
.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.header{
    text-align: center;
    padding:50px 0;
}
.header select{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.header h1{
    font-size: 3rem;
    margin: 0 0 10px 0;
}
.slideshow{
    flex:1;
    position: relative;
    overflow: hidden;
    background-color: #333;
}
.slide{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center center;
    opacity: 0;
    transform: scale(1);
    transition: all .5s ease-out;
}
.slide:nth-last-child(2){
    opacity: 1;
    transform: scale(1.08);
}